.section-index{
    .module-index{
        .module-header{
            .title{
                color: #000;
                text-align: center;
            }
        }
        .module-content{
             .item {
            height: 100px;
            background: red;
            margin-bottom: 20px;
            color: #fff;
            font-size: 20px;

        }
        }
    }
}